-
  const { url, slug } = _universalFilters

  let ogTitle
  if (isHome) {
    ogTitle = site.title
  } else if (isTag) {
    ogTitle = tag.title
  } else {
    ogTitle = title
  }

doctype html
html(lang=site.lang)
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    title
      if isHome
        =`${site.title} - ${title}`
      else
        =`${isTag ? tag.title : title} - ${site.title}`
    meta(name="description" content=isTag && tag.content || site.description)
    meta(name="twitter:card" content="summary")
    meta(property="og:title" content=ogTitle)
    meta(property="og:type" content="website")
    meta(property="og:image" content=`${site.origin}/apple-touch-icon.png`)
    meta(property="og:url" content=`${site.origin}${page.url}`)
    meta(property="og:description" content=isTag && tag.content || site.description)
    meta(property="og:site_name" content=site.title)
    meta(property="og:locale" content=`${site.lang}_${site.region}`)
    link(rel="canonical" href=`${site.origin}${page.url}`)
    link(rel="alternate" href="/feed.xml" type="application/rss+xml")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=optional")
    link(rel="stylesheet" href="/assets/main.css")
    link(rel="apple-touch-icon" href="/apple-touch-icon.png")

  body
    header.SiteHeader
      .Center.-andText
        .Stack.-small
          p.SiteHeader__title
            a.SiteHeader__titleLink(href=!isHome && '/')=site.title
          p.SiteHeader__description=site.description

    .Main
      .Center
        .Stack.-large
          main(role="main")
            block main

          if !isHome
            .Divider

            footer(aria-label="ページ")
              p
                a.WithIcon.-back.-small(href="/") ホーム

    footer.SiteFooter(aria-label="サイト")
      .Center.-andText
        .Stack.-small
          p #[a(href="https://a11yj.herokuapp.com/") A11YJ Slack]メンバーと有志の協力によって制作・運営されています。
          p
            a(href="/feed.xml" type="application/rss+xml") RSS
            | ・
            a(href="https://github.com/a11yj/accrefs") GitHub
