doctype xml
rss(version='2.0',
    xmlns:atom='http://www.w3.org/2005/Atom',
    xmlns:content='http://purl.org/rss/1.0/modules/content/',
    xmlns:creativeCommons='http://blogs.law.harvard.edu/tech/creativeCommonsRssModule')
  channel
    title=site.title
    link=`${site.origin}/`
    description=('<![CDATA[Webアクセシビリティ関連の資料まとめ]]>')
    language ja-JP
    pubdate=(new Date())
    lastbuilddate=(new Date())
    docs http://blogs.law.harvard.edu/tech/rss
    generator Node.js v12.7.0
    managingeditor @otiext
    webmaster @magi1125
    atom:link(href=`${site.origin}/feed.xml`, rel='self', type='application/rss+xml')/

    each reference in collections.references
      item
        title=reference.data.title
        link=reference.data.link
        each tag in reference.data.tags
          category=tag
        if reference.templateContent
          content:encoded=`<![CDATA[${reference.templateContent}]]>`
