extends /base.pug

block main
  .Stack.-large
    h1.Heading=title

    each reference in collections.references.slice().reverse()
      article.Stack.-small(
        id=reference.fileSlug
        aria-labelledby=`${reference.fileSlug}-heading`
      )
        h2.ItemTitle(id=`${reference.fileSlug}-heading`)
          a.WithIcon.-reference.-hang(href=reference.data.link)=reference.data.title
        !=reference.templateContent
        footer
          p
            span.VisuallyHidden タグ：
            span.WithIcon.-tag
              each tag, index in reference.data.tags
                if index
                  | ／
                a(href=`/tags/${tags.find(t => t.title === tag).slug}/`)=tag
