//- https://github.com/11ty/eleventy/issues/286

extends /base.pug

block main
  .Stack.-large
    div
      p.VisuallyHidden タグ
      .Stack.-small
        h1.Heading
          span.WithIcon.-tag.-hang.-tighter=tag.title
        if tag.content
          p=tag.content

    section#references(aria-labelledby="references-heading")
      h2#references-heading.VisuallyHidden 参考資料

      if collections[tag.title]
        .Stack.-large
          each reference in collections[tag.title].slice().reverse()
            article.Stack.-small(
              id=`references:${reference.fileSlug}`
              aria-labelledby=`references:${reference.fileSlug}-heading`
            )
              h3.ItemTitle(id=`references:${reference.fileSlug}-heading`)
                a.WithIcon.-reference.-hang(href=reference.data.link)=reference.data.title
              !=reference.templateContent
      else
        p 参考資料がまだ登録されていません。
